<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:tool="http://www.springframework.org/schema/tool"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/tool
		http://www.springframework.org/schema/tool/spring-tool-3.2.xsd		
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd
		">
	<import resource="springmvc.xml"/>
	<!-- <context:component-scan base-package="cn.yzw"></context:component-scan> -->
	
	<tx:annotation-driven transaction-manager="txManager"/>
	<context:property-placeholder location="classpath:c3p0.properties"/>
	
	<bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	
	<!-- dataSource -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql:///solr"></property>
		<property name="user" value="root"></property>
		<property name="password" value="000"></property>
	</bean>
	
	<!-- mybatis和Spring整合 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="configLocation" value="classpath:SqlMapConfig.xml"></property>
	</bean>
	
	<!-- 故采用以下扫包方法 ,多个包用,相隔,注意这样配置后SqlMapperConfig,xml就不用配置mapper了
		但是注意,每个dao接口名和对应mapper.xml要有相同文件名
		且在相同文件夹下,且mapper的namespace等于接口的全路径.自动生成的bean就是接口的首名字小写
	-->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="cn.yzw.solr.dao"></property>
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>
	
	
</beans>



